<h1>Stupid Coaching</h1>
<h3>Ask your coach anything</h3>
<form action="/answer" method="get">
  <input type="text" name="user_question" placeholder="What is your question?">
  <input type="submit" class="btn-primary" value="Ask">
</form>
